<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout::dynamic(~{::title},~{::header},~{::.content})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTNsBike | Cập nhật tài khoản</title>
</head>
<body>
    <header th:insert="~{/user/common/header::header}"></header>
    <div class="content">
           <!-- Breadcrumb Start -->
           <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li class="active"><a href="register.html">Cập nhật tài khoản</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Register Account Start -->
        <div class="contact-area ptb-sm-60 mt-5 mb-3">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h3 class="mb-20">THÔNG TIN TÀI KHOẢN</h3>
                        <p class="text-capitalize mb-20">Lưu ý: Những trường (*) là bắt buộc.</p>
                        <form id="contact-form" class="contact-form" action="mail.php" method="post">
                            <div class="address-wrapper row">
                                <div class="col-md-12">
                                    <div class="address-fname">
                                        <label class="control-label" for="f-name"><span class="require">*</span>Họ
                                            tên</label>
                                        <input class="form-control" type="text" name="name" placeholder="Họ tên...">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="address-email">
                                        <label class="control-label" for="f-name"><span
                                                class="require">*</span>Email</label>
                                        <input class="form-control" type="email" name="email" placeholder="Email...">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="address-web">
                                        <label class="control-label" for="f-name"><span class="require">*</span>Địa
                                            chỉ</label>
                                        <input class="form-control" type="text" name="diachi" placeholder="Địa chỉ...">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="address-web">
                                        <label class="control-label" for="f-name"><span class="require">*</span>Số điện
                                            thoại</label>
                                        <input class="form-control" type="text" name="sdt"
                                            placeholder="Số điện thoại...">
                                    </div>
                                </div>
                            </div>
                            <p class="form-message">
                        </form>
                    </div>

                    <div class="col-4">
                        <br><br><br><br>
                        <form id="contact-form" class="contact-form" action="mail.php" method="post">
                            <div class="address-wrapper row">
                                <div class="col-md-12 mt-3">
                                    <label class="control-label" for="f-name"><span class="require">*</span>Ảnh đại diện</label>
                                    <div class="address-fname d-flex">
                                        <img th:src="@{/user/img/2.png}" style="height:300px; width: 300px">
                                    </div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <div class="address-fname d-flex">
                                        <input type="file">
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-md-7 mt-2 footer-content mail-content clearfix">
                                    <div class="send-email">
                                        <input value="Cập nhật" class="return-customer-btn" type="submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Register Account End -->
    </div>
</body>
</html>